{% extends 'layout.html' %}
{% load static %}

{% block title %}
    Home
{% endblock %}

{% block content %}
    <h1>Home</h1>
    <h2>About Us</h2>
    <p>Intellishare is a marketplace for the most precious commodity of the 21st century - computing power!</p>
    <img src="{% static 'images/logo.png' %}" alt="Intellishare Logo", width="700px">
    <p>Sign in <a href="/users/login/">here</a> or <a href="/users/register/">sign up</a> if you don't already have an account!</p>


    <section class="hero">
        <div class="hero-content">
          <h1>Welcome to IntelliShare</h1>
          <p>Are you ready to take your computing and project efficiency to the next level? Then let's go!</p>
          <a href="/users/register/" class="cta-btn">Get Started</a>
        </div>
      </section>
      
{% endblock %}