<!DOCTYPE html>
{% load static %}
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>
            {% block title %}
            Intellishare
            {% endblock %}
        </title>
        <link rel="stylesheet" href="{% static 'css/style.css' %}">
    </head>
    <body>
        <header>
            <nav>
                <a href="/">
                    <span role="img" aria-label="Home" title="Home">🏠</span>
                </a> | 
                <a href="{% url 'users:register' %}">
                    <span role="img" aria-label="User Registration" title="User Registration">🚀</span>
                </a> | 
                <a href="{% url 'users:login' %}">
                    <span role="img" aria-label="User Login" title="User Login">🚪</span>
                </a>
            </nav>
        </header>
        <main>
            {% block content %}
            {% endblock %}
        </main>
        <footer>
            <p>&copy; 2025 Intellishare</p>
        </footer>
    </body>
</html>